<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapviewer/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="{% static 'mapviewer/favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
{% block content %}

{% endblock %}
<script src="{% static 'mapviewer/base.js' %}"></script>
</body>
</html>