<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapviewer/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'mapviewer/favicon.ico' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Battlemap Viewer</title>
</head>
<body>
    <div id="searchbar">
        <div class="background">
            {% csrf_token %}
            <input type="search" name="text" placeholder="Search..." autocomplete="off" id="searchbartext">
            <button type="submit" class="buttonicon" id="searchicon"></button>
            <button type="button" class="buttonicon" id="refreshicon" ></button>
        </div>
    </div>
    <div class="maps">
    {% for map in maps %}
    <div class="map" id="{{map.id}}">
        <div class="box">
            <div class="blur">
                <a href={{map.picture}}>
                    <img src={{map.thumbnail}} alt={{map.name}}>
                    <p class="desc" id="{{map.id}} desc">Title: {{map.name}}<br>
                        {% if map.square_width %}Square Width: {{map.square_width}}
                        {% else %}Width: {{map.width}}{% endif %}<br>
                        {% if map.square_height %}Square Height: {{map.square_height}}
                        {% else %}Height: {{map.height}}{% endif %}<br>
                        Uploader: {{map.uploader}}<br>
                        Tags: {% for tag in map.tags.all|dictsort:"name" %}{{tag.name|title}}, {% endfor %}</p>
                </a>
                <div class="buttons">
                <a href="{{ map.picture.url }}" download>Download</a>
                <button type="submit" onclick="send_request(this, {{map.id}}, 0)">Foundry</button>
                <button type="submit" onclick="send_request(this, {{map.id}}, 1)">Tags</button>
                <button type="submit" onclick="send_request(this, {{map.id}}, 2)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% if back or forward %}
<footer>
        <button type="submit" onclick="send_page(-1)" class="pagebutton" id="pagebuttonleft">Previous Page</button>
        {% if back %}
            <style>
                #pagebuttonleft {
                    visibility: visible;
                }
            </style>
        {% endif %}
        <button type="submit" onclick="send_page(1)" class="pagebutton" id="pagebuttonright">Next Page</button>
        {% if forward %}
            <style>
                #pagebuttonright {
                    visibility: visible;
                }
            </style>
        {% endif %}
</footer>
{% endif %}
{% load static %}
<script src="{% static 'mapviewer/map_tiles.js' %}"></script>
</body>
</html>
