{% extends "mapviewer/base.html" %}
{% block content %}
<div class="maps">
    <div id="searchbar">
        <div class="background">
            <form action="http://192.168.0.36" method="post" id="searchform">
                {% csrf_token %}
                {{search_form}}
                <input type="hidden" id="previous_value" value="">
                <button type="submit" id="searchicon" class="buttonicon"></button>
                <button type="button" id="homeicon" class="buttonicon"></button>
                <button type="button" id="refreshicon" class="buttonicon"></button>
            </form>
            <form action="" method="get" id="homeform"></form>
        </div>
    </div>
    {% for map in maps %}
    <div class="map" id="{{map.id}}">
        <div class="box">
            <div class="blur">
                <a href={{map.picture}}>
                    <img src={{map.thumbnail}} alt="map">
                    <p class="desc" id="{{map.id}} desc">Title: {{map.name}}<br>
                        {% if map.square_width %}Square Width: {{map.square_width}}
                        {% else %}Width: {{map.width}}{% endif %}<br>
                        {% if map.square_height %}Square Height: {{map.square_height}}
                        {% else %}Height: {{map.height}}{% endif %}<br>
                        Uploader: {{map.uploader}}<br>
                        Tags: {% for tag in map.tags.all|dictsort:"name" %}{{tag.name|title}}, {% endfor %}</p>
                </a>
                <div class="buttons">
                <button type="submit" onclick="send_request(this, {{map.id}})" id="download">Download</button>
                    <hr>
                <button type="submit" onclick="send_request(this, {{map.id}})" id="tags">Tags</button>
                    <hr>
                <button type="submit" onclick="send_request(this, {{map.id}})" id="delete">Delete</button>
                <div id="response"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <footer>
        {% if back %}
        <button type="submit" onclick="send_page(-1)" class="pagebutton" id="pagebuttonleft">Previous Page</button>
        {% endif %}
        {% if forward %}
        <button type="submit" onclick="send_page(1)" class="pagebutton" id="pagebuttonright">Next Page</button>
        {% endif %}
    </footer>
</div>
{% load static %}
<script src="{% static 'mapviewer/map_tiles.js' %}"></script>
{% endblock %}

