<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapviewer/style.css' %}">
</head>
<body>
<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="login"/>
</form>
<div class="maps">
{% for map in maps %}
    <div class="map">

        <div class="box">

        <a href=/media/{{map.picture}} target="_blank">
            <div class="blur">
                <img src=/media/{{map.thumbnail}} alt="map">
                <p class="desc">{{map.name}}</p>
            </div>
        </a>
        </div>

    </div>
{% endfor %}
</div>
</body>

</html>