<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapviewer/style.css' %}">
</head>
<body>
<form action="/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="login"/>
</form>
<div class="maps">
{% for map in maps %}
    <div class="map">
        <div class="box">
        <a href=/media/{{map.picture}} target="_blank">
            <div class="blur">
                <img src=/media/{{map.thumbnail}} alt="map">
                <p class="desc">Title: {{map.name}}<br>
                                {% if map.square_width %}Square Width: {{map.square_width}}
                                {% else %}Width: {{map.width}}{% endif %}<br>
                                {% if map.square_height %}Square Height: {{map.square_height}}
                                {% else %}Height: {{map.height}}{% endif %}<br>
                                Uploader: {{map.uploader}}<br>
                                Tags: {% for tag in map.tags.all|dictsort:"name" %}{{tag.name|title}}, {% endfor %}</p>

            </div>
        </a>
        </div>

    </div>
{% endfor %}
</div>
</body>

</html>