{% load static %}

* {
    box-sizing: border-box;
    font-size: 1em;
    font-family: serif;
}

body {
    background-color: rgb(18, 18, 18);
    margin: 0 4px;
}

#searchbar {
    z-index: 1;
    position: sticky; top: 0;
    background-color: rgb(18, 18, 18);
    width: 100%;
    margin: 0 4px;
    border-radius: 0 0 16px 16px;

}

.background {
    display: flex;
    margin-bottom: 0;
    padding: 8px;
    border-radius: 0 0 16px 16px;
    background-color: rgba(255, 255, 255, 0.09);
}

#searchbar input {
    flex-basis: 80%;
    flex-grow: 1;
    font-size: 1.17em;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255, 255, 255, 0.09);
    border: none;
    border-radius: 16px 0 0 16px;
    padding: 2px 8px;
}

#searchbar input:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.16);
}

#searchbar input:focus {
    background-color: rgba(255, 255, 255, 0.16);
    outline: none;
}

.buttonicon {
    flex-grow: 1;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.09);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.buttonicon:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.buttonicon:focus {
    background-color: rgba(255, 255, 255, 0.16);
    outline: none;
}

#searchicon {
    background-image: url("/static/mapviewer/search.png");
}

#refreshicon {
    background-image: url("/static/mapviewer/refresh.png");
    border-radius: 0 16px 16px 0;
}

.maps {
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 12.5%;
    padding: 4px;
}

@media screen and (max-width: 1600px) {
    .map {
        width: 25%;
    }
}

@media screen and (max-width: 1300px) {
    .map {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .map {
        width: 100%;
    }
    * {
        font-size: 1.09em;
    }
    #searchbar * {
        font-size: 2em;
    }
    .buttonicon {
        flex-basis: 10%;
    }

    .buttons * {
        flex-basis: 20%;
    }
}

.box {
    background-color: rgba(255, 255, 255, 0.05);
    height: 100%;
    padding: 8px;
    border-radius: 8px;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.09);
    transition: .1s ease-in;
}

.blur {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.box img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.box:hover img {
    filter: blur(3px) brightness(50%);
    opacity: 0.3;
    transition: .1s ease-in;
}

.desc {
    color: rgba(255, 255, 255, 0.87);
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: left;
    opacity: 0;
    padding: 4px 4px;
}

.buttons {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.buttons * {
    flex-basis: 24.5%;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 4px;
    opacity: 0;
    cursor: pointer;
}

.buttons a {
    padding: 0 6px;
    text-align: center;
    text-decoration: none;
}

.buttons button:hover, .buttons a:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.buttons button:focus {
    outline: none;
}

.box:hover * {
    opacity: 1;
    transition: .1s ease-in;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.09);
    margin: 0 4px;
    border-radius: 16px 16px 0 0;
}

.pagebutton {
    font-size: 1.17em;
    padding: 8px;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    background-color: rgba(255, 255, 255, 0.09);
    cursor: pointer;
    visibility: hidden;
}

.pagebutton:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

#pagebuttonleft {
    border-radius: 16px 0 0 0;
}

#pagebuttonright {
    border-radius: 0 16px 0 0;
}

form {
    display: none;
}