{% load static %}

* {
    box-sizing: border-box;
    font-size: 1em;
}

body {
    background-color: rgb(18, 18, 18);
}

#searchbar {
    background-color: rgb(18, 18, 18);
    z-index: 2;
    width: 100%;
    margin: 0 4px;
    border-radius: 8px;
}

.sticky {
    position: sticky;
    top: 0;
}

.background {
    display: flex;
    margin-bottom: 0;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.05);
}



#searchbar input {
    flex-basis: 80%;
    flex-grow: 1;
    font-size: 1.17em;
    color: rgba(255, 255, 255, 0.87);
    background-color: rgba(255, 255, 255, 0.05);
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 2px 4px;
}

#searchbar input:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.09);
}

#searchbar input:focus {
    background-color: rgba(255, 255, 255, 0.09);
    outline: none;
}

.buttonicon {
    flex-grow: 1;
    border: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.buttonicon:hover {
    background-color: rgba(255, 255, 255, 0.09);
}

.buttonicon:focus {
    background-color: rgba(255, 255, 255, 0.09);
    outline: none;
}

#searchicon {
    background-image: url("/static/mapviewer/search.png");
}

#refreshicon {
    background-image: url("/static/mapviewer/refresh.png");
    border-radius: 0 4px 4px 0;
}

.maps {
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 12.5%;
    padding: 4px;
}

@media screen and (max-width: 1600px) {
    .map {
        width: 25%;
    }
}

@media screen and (max-width: 1300px) {
    .map {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    .map {
        width: 100%;
    }
    * {
        font-size: 1.17em;
    }
    .buttonicon {
        flex-basis: 10%;
    }
}

.box {
    background-color: rgba(255, 255, 255, 0.05);
    height: 100%;
    padding: 8px;
    border-radius: 8px;
}

.box:hover {
    background-color: rgba(255, 255, 255, 0.11);
    transition: .1s ease-in;
}

.blur {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    border-radius: 4px;
}

.box img {
    object-fit: cover;
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.box:hover img {
    filter: blur(3px);
    opacity: 0.3;
    transition: .1s ease-in;
}

.desc {
    color: rgba(255, 255, 255, 0.87);
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    text-align: left;
    opacity: 0;
    padding: 4px 4px;
}

.buttons {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.buttons button {
    flex-basis: 33%;
    color: rgba(255, 255, 255, 0.87);
    border: none;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 4px;
    opacity: 0;
    cursor: pointer;
}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.16);
}

.buttons button:focus {
    outline: none;
}

.box:hover .desc {
    opacity: 1;
    transition: .3s ease-in;
}

.box:hover button {
    opacity: 1;
    transition: .3s ease-in;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.05);
    margin: 0 4px;
    border-radius: 4px;
}

.pagebutton {
    color: rgba(255, 255, 255, 0.87);
    border: none;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 4px;
    visibility: hidden;
}

.pagebutton:hover {
    background-color: rgba(255, 255, 255, 0.16);
}