{% load static %}

* {
  box-sizing: border-box;
}

html,body {
  margin: 0; padding: 0;
}

body {
  background-color: rgb(18, 18, 18);
}

#searchbar {
  background-color: rgb(18, 18, 18);
  z-index: 2;
  padding: 0px 0px;
  margin: 4px;
  width: 100%;
  border-radius: 8px;
}

.sticky {
  position: sticky;
  top: 0;
}

.background {
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.05);
  width: 100%;
}

.background + .sticky {
    z-index: 5;
    padding: 0px;
}

form {
  margin-bottom: 0;
  display: flex;
}

#searchbar input{
  width: 100%;
  display: inline-block;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(255, 255, 255, 0.05);
  text: rgba(255, 255, 255, 0.87);
  border-top: none;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 4px 0px 0px 4px;
  padding: 2px 8px;
}

#searchbar input:focus{
  background-color: rgba(255, 255, 255, 0.11);
  outline: none;
}

.buttonicon {
    padding-top: auto;
    position: relative;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
    width: 1.2%;
}

#homeicon {
  background: url("/static/mapviewer/home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 0px 4px 4px 0px;
}

#homeicon:focus {
  background-color: rgba(255, 255, 255, 0.11);
  outline: none;
}

#searchicon {
  background: url("/static/mapviewer/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.05);
}

#searchicon:focus {
  background-color: rgba(255, 255, 255, 0.11);
  outline: none;
}

.maps {
  display: flex;
  flex-wrap: wrap;
}

.map {
  padding: 4px 4px;
  width: 12.49999%;
}

@media screen and (max-width: 1600px) {
  .map {
    width: 24.99999%;
  }
}

@media screen and (max-width: 1000px) {
  .map {
    width: 49.99999%;
  }
}

@media screen and (max-width: 800px) {
  .map {
    width: 99.99999%;
  }
}


.box {
  background-color: rgba(255, 255, 255, 0.05);
  height: 100%;
  padding: 8px;
  border-radius: 8px;

}

.box:hover {
  background-color: rgba(255, 255, 255, 0.11);
  transition: .3s ease-in;
}

.blur {
  overflow: hidden;
  position: relative;
}

.box img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.box:hover img{
  filter: blur(3px);
  opacity: 0.3;
  transition: .3s ease-in;
}

.desc {
    color: rgba(255, 255, 255, 0.87);
    position: absolute;
    z-index: 1;
    margin: 0px 0px;
    left: 0;
    right: 0;
    top: 0%;
    text-align: left;
    width: 100%;
    opacity: 0;
    padding: 4px 4px;
}

.box button {
    color: rgba(255, 255, 255, 0.87);
    border: none;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 4px;
    width: 49%;
    opacity: 0;
    cursor: pointer;
}

.box button:focus {
    outline: none;
}

.box:hover .desc{
  opacity: 1;
  transition: .3s ease-in;
}

.box:hover button{
  opacity: 1;
  transition: .3s ease-in;
}

.box button:hover {
  background-color: rgba(255, 255, 255, 0.16);
}